@{
    ViewBag.Title = "Beta Sign Up";
    ViewBag.Message = "Keep informed and sign up for our beta.";
}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>@ViewBag.Title <small>@ViewBag.Message</small></h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 pull-right">
        <h2>What you're signing up for.</h2>
        <p>First and foremost, you're signing up for our beta newsletter. Our beta newsletter will let you know when our beta program is available so that you can start using bleeding edge bill, savings, and budgeting software.</p>
        <p>We'll use this email list to actually invite you to our beta program once we're ready.</p>
        <p class="text-info">Naturally, we'll respect your privacy and will never share or sell your email address or any other personal information.</p>
        <p class="lead">Did we mention you'll also be invited to our official launch party in Charleston, SC?</p>
    </div>
    <div class="col-xs-4 col-xs-offset-1 col-md-offset-3 col-lg-offset-1 pull-left">
        <br />
        <noscript>Javascript is required to use this form, and will be required to use the final product. Please enable it to continue.</noscript>
        <br />
        <script type="text/javascript" src="http://forms.aweber.com/form/70/1581161070.js"></script>
    </div>
</div>