@{
    ViewBag.Title = "The Book";
    ViewBag.Message = "Its just that revolutionary.";
}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>@ViewBag.Title <small>@ViewBag.Message</small></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-xs-offset-3" >
        <h2>Details coming soon!</h2>
    </div>
</div>