@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Let us know what's going on.";
}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>@ViewBag.Title <small>@ViewBag.Message</small></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h2>By Snail Mail</h2>
        <p class="text-info">To be announced...</p>
    </div>
    <div class="col-lg-6">
        <h2>By Email</h2>
        <address>
            <strong>General Inquiries</strong> <a href="mailto:general@pay-this.com">General@pay-this.com</a><br />
            <strong>Robert Landers</strong> <a href="mailto:robert@pay-this.com">Robert@pay-this.com</a>
        </address>
    </div>
</div>